body{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.6;
}

header{
    padding: 40px 20px;
    text-align: center;
    background: linear-gradient(green, lightgreen);
    color: white;
}


nav{
    background-color: #333;
    padding: 15px 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav a{
    text-decoration: none;
    margin: 0 20px;
    color: #b8e6b3;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 25px;
}

nav a:hover{
    background: linear-gradient(#11998e, #38ef7d);
    color: white;
}

section{
    padding: 30px;
    background-color: #fffffff7;
    box-shadow: 0 10px 40px #00800026;
    text-align: center;
}

h2{
    text-align: center;
    margin-bottom: 25px;
    position: relative;
}

h2::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 4px;
    background: linear-gradient(green, lightgreen);

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    background: linear-gradient(green, lightgreen);
    color: white;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 50px;
    display: inline-block;
    font-weight: bold;
}

#projects a{
    display: inline-block;
    padding: 15px 30px;
    margin: 15px;
    background: linear-gradient(green, lightgreen);
    color: white;
    text-decoration: none;
    border-radius: 50px;
}

form{
   display: flex;
    flex-direction: column;
    gap: 20px; 
    max-width: 500px;
    margin: 0 auto;
}

input, textarea{
    padding: 18px;
    border: 2px solid #e1e8ed;
    border-radius: 12px;
}

input[type="submit"] {
    background: linear-gradient(green, lightgreen);
    color: white;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color: #00e04b;
}

footer{
    padding: 25px;
    text-align: center;
    background-color: #333;
    color: white;
}


@media (max-width: 768px) {
    header{
        padding: 30px 15px;
    }

    nav{
        padding: 10px;
    }

    nav a{
        display: block;
        margin: 8px 0;
        padding: 12px 20px;
        width: 80%;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    section{
        padding: 25px 10px;
        margin: 10px;
    }

    li, #projects a{
        display: block;
        width: 250px;
        max-width: 30%;
        margin: 10px auto;
    }

    form{
        padding: 0 15px;
    }
    
}
